$app-main-color: #8e60f6;
$app-background-color: #242424;
$light-text-color: #ececec;
$text-color: #868686;
$dark-text-color: #5f5f5f;
$icon-background: #242424;
$border-color: #4e4e4e;
$app-color-1: #ffa84b;
$app-color-2: #ff8a56;
$app-color-3: #ff5e69;
$app-color-4: #b16cea;
