@use './abstracts/colors';

.c_booking_ticket_movie_container {
	display: flex;
	flex-direction: row;
	.c_booking_ticket_img_container {
		height: 250px;
		margin-right: 30px;
		img {
			height: 100%;
			border-radius: 10px;
		}
	}

	.c_booking_ticket_details_container {
		flex: 6;

		.c_movie_details_content_movie_title {
			display: flex;
			align-items: center;
			font-size: 32px !important;
			font-weight: 600;
			letter-spacing: 2px;

			.separator {
				margin: 0px 9px;
				font-weight: 300;
			}
		}

		.c_movie_details_content_title {
			color: colors.$dark-text-color;
			margin-top: 10px;
			font-weight: 400;
			font-size: 18px;
		}

		.movie_details {
			font-weight: 600;
			span {
				font-weight: 400;
				color: colors.$text-color;
				margin-left: 5px;
			}
		}

		.c_booking_details {
			display: flex;
			align-items: center;
			i {
				margin-right: 5px;
			}
			span {
				margin-top: 2px;
			}
			font-weight: 400;
			color: colors.$text-color;
			margin-right: 30px;
		}

		.c_booking_ticket_showtime_details {
			display: flex;
			flex-wrap: wrap;
		}
	}
}

.c_booking_ticket_row {
	display: flex;
	margin-top: 40px;
	gap: 15em;
	transition: all 0.3s;
	flex: 1;

	.c_booking_ticket_col_seat {
		flex: 3;

		.c_booking_ticket_legend {
			background-color: #222;
			padding: 15px 50px;
			border-radius: 20px;
			transition: all 0.3s;

			ul {
				margin: 0;
				padding: 0;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				gap: 30px;
				.c_booking_ticket_legend_el {
					display: flex;
					align-items: center;
					flex-wrap: wrap;
					justify-content: center;
					i {
						margin-right: 10px;
						font-size: 35px;
					}
					span {
						font-weight: 500;
						color: colors.$text-color;
					}

					&.selected {
						i {
							color: colors.$app-main-color;
						}
					}
					&.busy {
						i {
							color: colors.$dark-text-color;
						}
					}
				}
			}
		}
	}

	.c_booking_ticket_col {
		flex: 2;
	}
}

.c_booking_ticket_screen_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.c_booking_ticket_screen_row {
	display: flex;
	align-items: center;
	margin-top: 10px;

	.c_booking_ticket_screen_row_number {
		margin: 0px 5px;
		color: colors.$text-color;
		width: 15px;
	}

	.c_booking_ticket_screen_row_content {
		display: flex;
		gap: 10px;

		.c_booking_ticket_screen_seat {
			cursor: pointer;

			&.selected {
				color: colors.$app-main-color;
			}

			i {
				font-size: 2rem;
			}
		}

		.c_booking_ticket_screen_empty_seat {
			width: 2rem;
		}
	}
}

.c_booking_ticket_screen_image_container {
	text-align: center;
	opacity: 0.7;
	width: 400px;
	margin: 20px 0px;
	img {
		width: 100%;
	}
}

.c_booking_ticket_summary_container {
	background-color: #201d28;
	border-radius: 10px;
	padding: 30px 40px;
	border: 1px solid colors.$border-color;

	ul {
		margin: 0;
		padding: 0;
		margin-top: 20px;

		li {
			border-bottom: 1px solid colors.$border-color;
			padding: 10px 0px;
			font-weight: 500;
			font-size: 20px;
			display: flex;
			justify-content: space-between;

			.seat_number {
				font-size: 18px;
				font-weight: 400;
			}

			.seat_number_price_total {
				color: colors.$app-color-4;
			}

			&:last-child {
				border-bottom: none;
			}
		}
	}

	.c_booking_ticket_summary_input {
		background-color: #222;
		border: none;
		outline: none;
		width: 100%;
		padding: 10px 20px;
		border-radius: 8px;
		margin-top: 20px;
		color: #fff;
	}
}

.c_booking_summary_row {
	display: flex;
	gap: 15em;
}

.c_booking_summary_title {
	display: flex;
	align-items: center;
	margin-top: 30px;
	i {
		font-size: 26px;
		cursor: pointer;
	}
	h4 {
		margin: 0;
		padding: 0;
		margin-left: 10px;
		margin-top: 4px;
		font-size: 26px;
		font-weight: 600;
	}
}

.c_booking_summary_container {
	flex: 2;

	.c_booking_summary_form {
		display: flex;
		flex-direction: column;
	}
}

.c_booking_summary_input {
	border: 1px solid colors.$border-color;
	background-color: #161616;
	border-radius: 10px;
	padding: 12px 20px;
	margin-top: 20px;
	width: 100%;
	color: #fff;
}

.c_booking_summary_cb_label {
	color: colors.$text-color;
}

.c_booking_summary_total_container {
	flex: 1;
}

@media screen and (max-width: 1440px) {
	.c_booking_ticket_row {
		gap: 5em;
	}
}

@media screen and (max-width: 1220px) {
	.c_booking_ticket_row {
		flex-wrap: wrap;
		flex: 1;
		flex-direction: column;

		.c_booking_ticket_screen_seat i {
			font-size: 1.8rem !important;
		}
		.c_booking_ticket_screen_empty_seat {
			width: 1.8rem !important;
		}
	}
}

@media screen and (max-width: 770px) {
	.c_booking_ticket_row {
		.c_booking_ticket_screen_seat i {
			font-size: 1.4rem !important;
		}
		.c_booking_ticket_screen_empty_seat {
			width: 1.4rem !important;
		}
	}

	.c_booking_ticket_legend_el {
		i {
			font-size: 20px !important;
		}
	}
}

@media screen and (max-width: 660px) {
	.c_booking_ticket_row {
		.c_booking_ticket_screen_seat i {
			font-size: 1rem !important;
		}
		.c_booking_ticket_screen_empty_seat {
			width: 1rem !important;
		}
	}

	.c_booking_ticket_legend {
		ul {
			gap: 10px 40px !important;
			justify-content: center !important;
		}
	}

	.c_booking_ticket_screen_image_container {
		text-align: center;
		opacity: 0.7;
		scale: 0.6;
	}
}

@media screen and (max-width: 550px) {
	.c_booking_ticket_row {
		.c_booking_ticket_screen_seat i {
			font-size: 0.8rem !important;
		}
		.c_booking_ticket_screen_empty_seat {
			width: 0.8rem !important;
		}
	}

	.c_booking_ticket_screen_row_number {
		font-size: 12px;
	}

	.c_booking_ticket_screen_image_container {
		width: 350px;
		margin: 0px 0px;
	}
}

@media screen and (max-width: 460px) {
	.c_booking_ticket_screen_container {
		max-width: 350px;
		overflow: scroll !important;
		padding: 0 !important;
		margin: 0 !important;
		padding-left: 40px !important;
	}

	.c_booking_ticket_movie_container {
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;

		.c_booking_ticket_img_container {
			margin-right: 0;
			margin-bottom: 15px;
		}
	}
}
