.c_navbar {
	background-color: #0e0e0e;
}

.c_main_header {
	min-height: 80px;
	padding: 15px 80px;
	display: flex;
	align-items: center;
	padding-top: 20px;

	.c_nav_logo_container {
		display: flex;
		align-items: center;
		cursor: pointer;
		transition: all 0.3s;
		img {
			width: 70px;
			margin-right: 10px;
		}

		&:hover {
			transform: scale(1.03);
		}
	}

	.c_main_header_content {
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: space-between;
	}

	.c_main_header_right_section {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex: 1;
	}

	.c_main_header_center_section {
		.c_main_header_nav_list {
			margin-left: 70px;
			display: flex;
			gap: 40px;

			li {
				font-size: 14px;
				opacity: 0.7;
				margin-top: 15px;
				cursor: pointer;
			}
		}
	}

	.c_main_header_left_section {
		display: flex;
		align-items: center;
		justify-content: end;

		.c_main_header_search_icon {
			opacity: 0.7;
			margin-top: -2px;
			cursor: pointer;
		}

		.c_main_header_lang_select {
			display: flex;
			align-items: center;
			opacity: 0.7;
			cursor: pointer;
		}
	}
}

.c_main_header_mobile_menu {
	display: none;
}

@media screen and (max-width: 1220px) {
	.c_main_header_mobile_menu {
		display: block;
	}
	.c_main_header_content {
		display: none !important;
	}
}

@media screen and (max-width: 500px) {
	.c_main_header {
		padding: 5px 10px;
	}
}
