@use './abstracts/colors';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Poppins', 'sans-serif';
}

body {
	// background-color: colors.$app-background-color;
	color: #fff;
	background: rgb(14, 14, 14);
	background: radial-gradient(circle, rgba(14, 14, 14, 1) 0%, rgba(39, 24, 41, 1) 90%);
}

.no-scroll {
	overflow: hidden;
}

ul {
	list-style: none;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: unset;
}

.c_container {
	max-width: 1600px;
	margin: auto;
}

.content {
	min-height: 50vh;
	margin-bottom: 50px;
}

.c_main_btn {
	padding: 10px 20px;
	border-radius: 20px;
	font-weight: 500;
	color: #fff;
	transition: all 0.3s;

	p {
		display: flex;
		align-items: center;
		justify-content: center;
		span {
			margin-right: 8px;
		}
		margin: 0;
	}

	&.bordered {
		background-color: transparent;
		border: 1px solid #fff;
	}
	&.gradient {
		border: none;
		background: rgb(255, 168, 75);
		background: linear-gradient(
			90deg,
			rgba(255, 168, 75, 1) 0%,
			rgba(255, 138, 86, 1) 33%,
			rgba(255, 94, 105, 1) 66%,
			rgba(177, 108, 234, 1) 99%
		);
	}

	&.disable {
		pointer-events: none;
		filter: grayscale(0.7);
	}

	&:hover {
		transform: scale(1.02);
	}
}

.c_select_container {
	display: flex;
	justify-content: start;
	user-select: none;
	position: relative;
}

.c_select {
	transition: all 0.2s;
	.c_select_selected_container {
		background-color: colors.$app-main-color;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 20px;
		cursor: pointer;
		transition: all 0.2s;
		min-width: 0px;
	}

	.c_select_options_container {
		overflow: hidden;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		z-index: 1;
		box-shadow: 0px 2px 17px -1px rgb(0 0 0 / 25%);
		border-radius: 0px 0px 10px 10px;
		max-height: 0;
		transition: all 0.2s;

		.c_select_option {
			background-color: #363636;
			color: #fff;
			padding: 10px 15px;
			cursor: pointer;
			text-align: start;
			font-size: 15px;
			margin: 0;

			&:hover {
				background-color: rgb(126, 126, 126);
			}
		}
	}

	&.active {
		.c_select_selected_container {
			border-radius: 20px 20px 0px 0px;
			.c_select_drop_icon {
				transform: rotate(180deg);
				transition-duration: 0.3s;
			}
		}

		.c_select_options_container {
			display: block;
		}
		.c_select_options_container {
			max-height: 500px;
			transition-duration: 0.3s;
		}
	}

	&.hidden {
		.c_select_selected_container {
			border-radius: 20px;
			transition-duration: 0.5s;

			.c_select_drop_icon {
				transform: rotate(0deg);
				transition-duration: 0.3s;
			}
		}
		.c_select_options_container {
			max-height: 0px;
		}
	}
}

.c_home_banner_container {
	position: relative;
	min-height: calc(100vh - 90px);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	overflow: hidden;
	z-index: 1;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
		pointer-events: none;
		z-index: 1;
	}
	padding-bottom: 50px;
}

.c_home_baner_content {
	margin-top: 50px;
	position: relative;
	z-index: 2;
	color: #fff;
	max-width: 700px;

	.c_home_banner_movie_data {
		font-weight: 500;
		span {
			font-weight: 300;
			opacity: 0.7;
		}
	}

	.c_home_banner_movie_logo {
		img {
			width: 100%;
		}
	}
}

.c_checkbox_group {
	display: flex;
	align-items: center;
	label {
		cursor: pointer;
	}
}

input[type='checkbox'] {
	width: 20px;
	height: 20px;
	border: 1px solid colors.$border-color;
	outline: none;
	-webkit-appearance: none;
	appearance: none;
	border-radius: 50%;
	margin-right: 10px;
	cursor: pointer;

	transition: all 0.3s;
	position: relative;
	&::after {
		position: absolute;
		content: '';
		top: 50%;
		left: 50%;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		transform: translate(-50%, -50%);
		transition: all 0.3s;
	}
	&:checked {
		border-color: colors.$app-main-color;
		&::after {
			background-color: colors.$app-main-color;
		}
	}
}

.c_checkbox_group.error {
	label {
		color: tomato;
	}
	input[type='checkbox'] {
		border-color: tomato;
	}
}

footer {
	.footer_content {
		display: flex;
		justify-content: space-between;
		gap: 10px;
	}

	border-top: 1px solid rgb(66, 66, 66);
	background-color: #0e0e0e;
	padding: 50px 0px;
	padding-bottom: 0;

	display: flex;
	width: 100%;
	.footer_col {
		flex: 3;

		.footer_t_title {
			font-weight: 500;
			font-size: 18px;
			margin-top: 0px;
		}

		ul {
			margin: 0;
			padding: 0;
		}

		&:first-child {
			flex: 4;
			margin-right: 80px;
		}

		ul > li {
			color: colors.$dark-text-color;
			margin-top: 6px;
			display: flex;
			align-items: center;
			flex-wrap: wrap;

			&.footer_col_li_icon {
				margin-top: 15px;
				i {
					background-color: red;
					background-color: colors.$dark-text-color;
					color: #000;
					border-radius: 50%;
					width: 25px;
					height: 25px;
					display: flex;
					margin-right: 8px;
					align-items: center;
					justify-content: center;
				}
			}
		}

		.footer_socials {
			display: flex;
		}

		.footer_social_icon {
			background-color: colors.$icon-background;
			width: 35px;
			height: 35px;
			display: flex;
			margin-right: 20px;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			cursor: pointer;
		}
	}

	.footer_desc {
		color: colors.$dark-text-color;
		margin-top: 20px;
	}

	.footer_bottom {
		margin-top: 30px;
		display: flex;
		gap: 50px;
		flex-wrap: wrap;
		color: colors.$dark-text-color;
	}
}

@media screen and (max-width: 1600px) {
	.c_container {
		padding: 5px 30px;
	}
}

@media screen and (max-width: 500px) {
	.c_container {
		padding: 5px 30px;
	}
}

@media screen and (max-width: 990px) {
	.footer_content {
		display: block !important;
	}

	.footer_t_title {
		margin-top: 25px !important;
	}

	.footer_bottom {
		gap: 5px !important;
	}
}

.c_loading_spinner {
	margin-right: 5px;
	animation: spin 1s infinite linear;
	width: 25px;
	height: 25px;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
